*{
    margin: 0;
    padding: 0;
}
ul{
    display:flex;
    padding-top: 1%;
}
li{
   list-style: none;
   margin-left: 5vh;
   color: rgb(69, 69, 204);
   font-size: 3vh;
   margin-top: 2px;
}
li:first-child{
    margin-right:20vh;
    
}
nav{

    background-color: rgb(248, 246, 239);
    height:10vh;
}
.btn{
    background-color: rgb(28, 109, 201);
    padding: 1vh;
    border-radius: 1vh;
    color: white;

}
.Free{
    margin-top:15vh;
    height:50vh;
    width:50vh;
    padding:10px;
    background-color: rgb(238, 230, 230);
    margin-left: 10vh;
    text-align: center;
    border-radius: 15px;
}
.container button{
    margin-top:10vh;
    padding: 3vh;
    border: rgb(84, 84, 207);
    font-size: 15px;
    border-radius: 2vh;
    border:2px solid blue;
  
}
.Buisness{
    margin-top:15vh;
    padding:10px;
    margin-left: 10vh;
    background-color: rgb(67, 105, 233);
    height:50vh;
    width:50vh;
    text-align: center;
    border-radius: 15px;
}
.container{
    display: flex;
   
}
.Developer{
    margin-top:15vh;
    padding:10px;
    margin-left:45vh;
    height:50vh;
    margin-left: 10vh;
    width:50vh;
    background-color: rgb(238, 230, 230);
    text-align: center;
    border-radius: 15px;
}
.top{
    float: right;
    background-color: blue;
    height: 7vh;
    width:5vh;
    margin-right:2vh;
}
.container p{
    font-size:20px;
}
#cars{
    margin-top:1vh;
}
select{
    width: 3vh;
    border:none;
}